<footer class="footer">
	<div class="footer__links">
		<h2 class="footer__room room-name">
			Trend <span class="room-name__brand">Toys</span> - <span class="room-name__name">@@room-name</span>
		</h2>
		<div class="footer__soc social">
			<a href="https://www.instagram.com/trendtoys.ru/" target="_blank" class="social__link"><img src="images/inst.png" alt="Instagram" class="social__icon"></a>
			<a href="https://vk.com/trend.toys.shop" target="_blank" class="social__link"><img src="images/vk.png" alt="Вконтакте" class="social__icon"></a>
			<a href="https://www.youtube.com/channel/UCtIcB6SOiJ-kBbnJr6SXhxg?view_as=subscriber" target="_blank" class="social__link"><img src="images/youtube.png" alt="Youtube" class="social__icon"></a>
			<a href="https://vm.tiktok.com/ZSJ8e53Sq/" target="_blank" class="social__link"><img src="images/tiktok.png" alt="Tiktok" class="social__icon"></a>
		</div>
	</div>
	<a href="https://passl.ink/kc6tm" class="main-btn" target="_blank">
			Карта лояльности Trend Toys
		<span class="main-btn__text">
			Получить карту
		</span>
	</a>
	<button class="main-btn main-btn--modal">
		<img src="images/map.png" alt="Карта" class="main-btn__icon">
	</button>
	
</footer>
<script src="js/main.js"></script>