@font-face {
	font-family: 'futura';
	src: url('fonts/FuturaDemiC.eot');
	src: local('☺'), url('fonts/FuturaDemiC.woff') format('woff'), url('fonts/FuturaDemiC.ttf') format('truetype'), url('fonts/FuturaDemiC.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'futura';
	src: url('fonts/FuturaBookC.eot');
	src: local('☺'), url('fonts/FuturaBookC.woff') format('woff'), url('fonts/FuturaBookC.ttf') format('truetype'), url('fonts/FuturaBookC.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}



