@import "normalize";
@import "fonts";

@mixin btn{
	cursor: pointer;
	transition: 0.3s;
	&:hover{
		transform: scale(1.1);
	}
}

body{
	position: relative;
	min-height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url('../images/main-bg.jpg');
	color: #5e5870;
	font-family: 'futura';
}
@media(min-width: 768px){
	body{
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: center;
	}
}
.title{
	margin: 0;
	font-size: 2rem;
}
@media (max-width: 768px){
	.title{
		font-size: 1.7rem;
		br{
			display: none;
		}
	}
}

.content{
	width: 100%;
	box-sizing: border-box;
}

@media(max-width: 768px){
	.content {
		padding: 20px;
	}
}
@media(min-width: 768px){
	.content{
		max-width: 740px;
	}
}

@media(min-width: 1024px){
	.content{
		max-width: 1000px;
	}
}
@media(min-width: 1240px){
}
@media(min-width: 1440px){
	.content{
		max-width: 1200px;
	}
}
@media(min-width: 1640px){
	.content{
		max-width: 1600px;
	}
}

.header{
	display: flex;
	flex-flow: column-reverse;
	align-items: flex-end;
	justify-content: space-between;
	gap: 20px;
	padding: 1rem 0;
	&__logo{
		max-width: 130px;
	}
}
@media (min-width: 768px){
	.header{
		flex-flow: row nowrap;
		align-items: flex-end;
		gap: 0;
		&__logo{
			max-width: 200px;
			margin-bottom: 60px;
			align-self: flex-start;
		}
	}
}

.main{
	max-width: 900px;
	margin: 20px auto;
	&__video{}
	&__aside{
		width: 100%;
	}
	&--single{
		max-width: 800px;
	}
}
@media (max-width: 768px){
	.main{
		&__video{
			margin-bottom: 30px;
		}
	}
}
@media (min-width: 768px){
	.main{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: center;
		gap: 20px;
		&__video{
		}
		&__video{
			max-width: 1200px;
			flex-grow: 1;
			background-color: tan;

		}
		&__aside{
			max-width: 300px;
			width: 30%;
		}
	}
}
.video{
	position: relative;
	width: 100%;
	padding-bottom: 56.7%;
	background: tan;
	&__iframe{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

}
.aside{

}
.video-btn{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	&__btn{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 5;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}
	&__preview{
		max-width: 100px;
		width: 100%;
	}
	&__text{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-left: 10px;
		padding-left: 10px;
	}
	&__icon{
		height: 45px;
		margin-right: 10px;
		transition: 0.3s;
	}
	& + &{
		margin-top: 20px;
	}
	&:hover{
		.video-btn__icon{
			transform: scale(1.1);
		}
	}
}
@media (max-width: 768px){
	.video-btn{
		justify-content: center;
	}
}

.room-name{
	text-transform: uppercase;
	&__brand{
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(0deg, #f59b0f 30%, #e84d86);
	}
	&__name{
		font-weight: 300;
	}
}
@media (max-width: 768px){
	.room-name{
		margin-top: 0;
	}
}

.footer{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
@media (max-width: 768px){
	.footer{
		padding: 30px 0;
		gap: 10px;
		&__links{
			order: 1;
			margin-top: 30px;
		}
	}

}
@media (min-width: 768px){
	.footer{
		flex-wrap: nowrap;
		justify-content: flex-end;
		gap: 0;
		&__links{
			border: 1;
			margin-right: auto;

		}
	}
}
.social{
	&__link{
		display: inline-block;
		& + & {
			margin-left: 5px;
		}
	}
	&__icon{
		width: 40px;
		@include btn;
	}
}

.room-name{
	padding-bottom: 8px;
	border-bottom: 2px solid red;
	margin-bottom: 10px;
}

.main-btn{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	@include btn;
	border: none;
	background-color: transparent;
	text-align: center;
	color: #5e5870;
	text-decoration: none;
	outline: none;
	&__text{
		display: block;
		margin-top: 10px;
		font-size: 1.9rem;
		font-weight: bold;
		text-transform: uppercase;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-image: linear-gradient(0deg, #f59b0f 30%, #e84d86);
	}
	&__icon{
		max-width: 150px;
		height: auto;
		max-height: 110px;
	}
}
@media (max-width: 768px){
	.main-btn{
		width: 48%;
		& + & {
			// margin-top: 30px;
		}
		&__text{
			font-size: 1.8rem;
		}
	}
}
@media (min-width: 768px){
	.main-btn{
		& + &{
			margin-left: 40px;
		}
	}
}

.modal{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	&__bg{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
	&--open{
		overflow: hidden;
	}
	&--open .modal{
		display: flex;
	}
	&__content{
		position: relative;
		z-index: 10;
		max-width: 1200px;
		width: 80vw;
		height: 80%;
		max-height: 80vh;
	}
	&__close{
		@include btn;
		position: absolute;
		top: -40px;
		right: -40px;
		z-index: 10;
		width: 30px;
		height: 30px;
	    padding: 0;
	    border: none;
		font-family: cursive;
	    font-weight: bold;
	    font-size: 30px;
	    line-height: 30px;
	    text-align: center;
	    color: #fff;
	    background: transparent;
	    outline: none;
	}
	&__map{
		width: 100%;
		height: 100%;
	}
}
@media (max-width: 768px){
	.modal{
		&__content{
			width: 70vw;
		}
		&__close{
			top: -35px;
			right: -35px;
			width: 30px;
			height: 30px;
		}
	}
}